<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggori.dms.dao.DeliveryDao">

  <resultMap type="delivery"                   id="DeliveryMap">
    <id column="delivery_no"		      property="delivery_no" />
    <result column="rgs_dtm" 		      property="createdDtm" />
    <result column="from_where" 		  property="departure" />
    <result column="to_where"         property="destination" />
    <result column="reqstd_com" 	    property="requestedCompany" />
    <result column="reqstd_dtm" 	    property="requestedDateTime" />
    <result column="compl_dtm" 	  	  property="completedDtm" />
    <result column="product" 	  	    property="product" />
<!--    <result column="driver_check_yn"  property="usr_id" />-->
    <result column="detail"        	  property="detail" />
    <result column="state"  	        property="state" />
    <result column="admin_memo" 	 	  property="admin_memo" />

    <association property="admin_usr"           javaType="user">
      <id column="admin_id"		             property="usr_id" />
      <result column="admin_name" 		     property="name" />
      <result column="admin_yn"       	   property="admin_yn" />
    </association>

    <association property="driver_usr"          javaType="user">
      <id column="driver_id"		           property="usr_id" />
      <result column="driver_name" 		     property="name" />
    </association>
  </resultMap>

<!--  <insert id="insertDelivery" parameterType="map">-->
<!--    insert into delivery(from_where, to_where, reqstd_com,-->
<!--                         driver_id, admin_id, detail,-->
<!--                         state, admin_memo, rgs_dtm)-->
<!--            values(#{departure}, #{destination}, #{requestedCompany}-->
<!--                   #{driver_usr.usr_no}, #{admin_usr.usr_no}, #{detail},-->
<!--                   #{state}, #{admin_memo}, now())-->
<!--  </insert>-->

  <insert id="insertDelivery" parameterType="map" useGeneratedKeys="true" keyProperty="delivery_no">
    insert into delivery(from_where, to_where, reqstd_com, product, admin_id, driver_id, reqstd_dtm)
            values(#{departure}, #{destination}, #{requestedCompany}, #{product}, #{admin_usr.usr_id}, #{driver_usr.usr_id}, #{requestedDateTime})
    <selectKey keyProperty="delivery_no" resultType="Integer" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <select id="findAllDelivery" resultMap="DeliveryMap" parameterType="map">
    select *
    from delivery
  </select>

  <select id="findByDeliveryNo" resultMap="DeliveryMap" parameterType="int">
    select *
    from delivery
    where delivery_no = #{delivery_no};
  </select>

</mapper>