<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggori.dms.dao.UserDao">
  <resultMap type="user"                    id="UserMap">
    <id column="usr_no"		            property="usr_no" />
    <result column="svc_id" 	      	property="svc_id" />
    <result column="usr_id"      	  	property="usr_id" />
    <result column="name" 		        property="name" />
    <result column="email" 		        property="email" />
    <result column="hashpwd" 	  	    property="usr_pwd" />
    <result column="tel"              property="tel" />
    <result column="rgs_dtm" 		      property="createdDtm" />
    <result column="last_vst_dtm" 		property="recentVisitDtm" />
    <result column="admin_yn"       	property="admin_yn" />
    <result column="use_yn"  	        property="use_yn" />
    <result column="block_yn"        	property="block_yn" />
    <result column="penalty_cnt" 	  	property="penalty_cnt" />
    <result column="admin_comment" 	 	property="admin_comment" />
  </resultMap>

  <sql id="sql1">
    select
      u.usr_no,
      u.svc_id,
      u.usr_id,
      u.name,
      u.email,
      u.hashpwd,
      u.tel,
      u.rgs_dtm,
      u.last_vst_dtm,
      u.admin_yn,
      u.use_yn,
      u.block_yn,
      u.penalty_cnt
      u.admin_comment
    from user u
  </sql>

  <insert id="insertUser" parameterType="map">
    insert into user(name, usr_id)
            values(#{name}, #{usr_id})
  </insert>

<!--  <insert id="insertUser" parameterType="string">-->
<!--    insert into user(svc_id, usr_id, name, email, hashpwd, tel, rgs_dtm, last_vst_dtm)-->
<!--            values(#{svc_id}, #{usr_id}, #{name}, #{email}, password(#{usr_pwd}), #{tel}, now(), now())-->
<!--  </insert>-->

  <select id="findAll" resultMap="UserMap" parameterType="map">
    select *
    from user
  </select>


  <select id="checkId" resultType="User"  parameterType="string">
    select *
    from user
    where usr_id = #{usr_id}
  </select>

  <select id="findUserByUsrNo" resultMap="UserMap"  parameterType="int">
    select *
    from user
    where usr_no = #{usr_no}
  </select>

  <select id="findUserByName" resultMap="UserMap" parameterType="string">
    select *
    from user
    where name = #{name}
  </select>
<!--  <select id="findAllUsers" resultMap="UserMap" parameterType="map">-->
<!--    <include refid="sql1" />-->
<!--    <if test="keyword != null">-->
<!--      <bind name="pattern" value="'%' + keyword + '%'" />-->
<!--      where-->
<!--      email like #{pattern}-->
<!--      or nick like #{pattern}-->
<!--    </if>-->
<!--    order by uno usr_no desc-->
<!--  </select>-->

  <select id="findAllAdmins" resultMap="UserMap" parameterType="map">
    <include refid="sql1" />
    order by usr_no desc
  </select>

  <update id="update_use_yn" parameterType="map">
    update user set
      use_yn = #{use_yn}
    where usr_no=#{usr_no}
  </update>

  <update id="update_last_vst_dtm" parameterType="map">
    update user set
      last_vst_dtm = #{last_vst_dtm}
    where usr_no=#{usr_no}
  </update>


</mapper>