<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggori.dms,dao.VOCDao">

  <resultMap type="voc"                    id="VOCMap">
    <id column="voc_no"		            property="voc_no" />
    <result column="delivery_no" 	 	  property="delivery_no" />
    <result column="detail"        	  property="detail" />
    <result column="rgs_dtm" 		      property="createdDate" />
    <result column="updtd_dtm" 		    property="updatedDate" />
    <result column="penalty_yn" 	 	  property="penalty_yn" />
    <result column="penalty_usr_no" 	property="penalty_usr_no" />
    <result column="admin_memo" 	  	property="admin_memo" />

    <association property="writer"           javaType="user">
      <id column="writer_id"		           property="usr_id" />
      <result column="writer_name" 		     property="name" />
    </association>

    <association property="admin_usr"           javaType="user">
      <id column="admin_id"		             property="usr_id" />
      <result column="admin_name" 		     property="name" />
      <result column="admin_yn"       	   property="admin_yn" />
    </association>
  </resultMap>

  <insert id="insertVOC" parameterType="map">
    insert into user(delivery_no, writer_id, admin_id, detail, admin_memo)
    values(#{delivery_no}, #{writer_id}, #{admin_id}, #{detail}, #{admin_memo})
  </insert>


</mapper>