<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devil.dao.VOCDao">

  <resultMap type="user"                    id="VOCMap">
    <id column="voc_no"		            property="voc_no" />
    <id column="delivery_no"          property="usr_no" />
    <result column="admin_usr_no" 	 	property="svc_id" />
    <result column="detail"        	  property="detail" />
    <result column="rgs_dtm" 		      property="createdDate" />
    <result column="reqsted_date" 	  property="requestedDate" />
    <result column="compl_date" 	  	property="complatedcDate" />
    <result column="state"  	        property="state" />
    <result column="admin_memo" 	  	property="admin_memo" />
  </resultMap>



</mapper>