html {
  height: 100%;
}

body {
  color: white;
  background-color: #373737;
}

header {
  width: 100%;
  height:120px;
}

/*footer {*/
/*  position: absolute;*/
/*  padding: 1rem;*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*  height: 100px;*/
/*  background-color:#31353E;*/
/*}*/

#wrapper {
  min-height: 100vh;
  position: relative;
  width: 100%;
}
footer {
  width: 100%;
  height: 100px;
  bottom: 0px;
  position: absolute;
  padding: 1rem;
  background-color:#31353E;
}
/*footer{*/
/*  position: relative;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  height: 100px;*/
/*  padding: 1rem;*/
/*  background-color:#31353E;*/
/*}*/

.center {
  float: none;
  margin: 0 auto;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding:15px;
  margin-bottom: 15px;
}

.container {
  padding: 70px 0px;
  font-size: 15px;
  text-align: center;
}

/* a tag 밑줄 없애기 */
a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}a
a:hover { color: lightgrey; text-decoration: none;}

/* 테이블 관련 스타일 */
table {
  border-collapse: collapse;
  border-style: hidden;
  margin: auto;
  display: block;
  font-size : 15px;
  border-radius: 10px;
  background-color: #2E3034;
  width: 1000px;
}

thead {
  width: 1000px;
}

thead tr {
  text-align: center;
  border-bottom: 3px solid #787878;
}

tbody, td, tfoot, th, thead, tr {
  width: 1000px;
}

tbody {
  text-align: left;
}
th, td {
  padding: 15px;
  text-align: center;
}

/* 인풋 관련 스타일 */
input {
  border-collapse: collapse;
  border-style: hidden;
  border-radius: 10px;
  background-color: #2E3034;
}